*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* overflow:scroll; */
}

:root{
    --text-color:#838382;
    --bg-color:#161617f3;
    --font-color:#ffffff;
    --button:#0071e3;
    --background:rgb(0,0,0);
}
.products{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 1em;
} 
/* for header-navbar */
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    padding: 1rem 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}
.navlinks{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2.5rem;
    font-size: 0.8em;
}
.nav-link{
    list-style: none;
}
.nav-link i{
    color: var(--text-color);
    font-size: 0.8rem;
}
.nav-link a{
    text-decoration: none;
    color: var(--text-color);
}
.nav-link a:hover{
     cursor: pointer;
    color: #dfdfd8;
}
/* for responsive navbar */
  .navbar2{
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: var(--bg-color);
    padding: 0.5rem 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
   display: none;
  }
  .nav-links1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links1 li{
    list-style-type: none;
    color: var(--text-color);
    font-size: 1rem;
  }
  .links{
    display: flex;
    gap: 2.5rem;
  }
  .links li:hover{
    cursor: pointer;
    color: #dfdfd8;
  }
 .apple{
    height: 1.8rem;
    width: 1.8rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .apple li{
    list-style: none;
  }
  .logo i{
    color: black;
    font-size: 1rem;
  }
  @media screen and (max-width:760px) {
   
   
}
/* in main for products */
.product{
    width: 100%;
    height: 100vh;
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--background);
    text-align: center;
    row-gap: 1.5rem;
}
.product-image{
    height: 300px;
    width: 450px;
}
.product-image img{
    height: 100%;
    width: 100%;
}

/* produc details */
.product-details{
    /* padding: 2.5em 2.5em; */
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}
 .ipad .product-details{
    width: 80%;
 }
.heading{
    font-size: 2.5rem;
    font-weight: 550;
}
.charged{
    font-size: 1.5rem;
    font-weight: 450;
}
.available{
    font-size: 1em;
    color: var(--text-color);
}
.buttons{
   display: flex;
   gap: 1.5em;
   justify-content: center;
   
}
.learnmore:hover{
background-color: #073664;
color: white;
}
.learnmore{
    padding: 0.6em 1em;
    background-color: var(--button);
    color: var(--font-color);
    border-radius: 1.3em;
    border: none;
    font-size: 1em;
}
.preorder{
     padding: 0.6em 1em;
    background-color: var(--bg-color);
    color: var(--button);
    border-radius: 1.3em;
    border: 1px solid var(--button);
    font-size: 1em;
}
.preorder:hover{
    border:1px solid #073664;
    color: white;
}
.ipad .product-image{
    /* margin-top: 2.5em; */
   height: 60%; 
}
.iphone .product-image{
    height: 68%;
    width: 300px;
}

/* cards */
.cards{
   padding: 3.2rem 2.8rem;
}
.container1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.4rem;
}

.pro1 img{
    width: 95%;
    height: 95%;
}
.pro2 img{
    height: 65%;
    width: 85%;
}

.pro3 img{
    height: 100%;
    width: 100%;
}
.pro3 .image1{
    overflow: hidden;
}
.product1:hover{
    transform: scale(1.08);
}
.product1{
    height: 400px;
    width: 400px;
    background-color: #f5f5f7;
    display: flex;
    flex-direction: column;justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem 1.4rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 1.5s ease;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}
.product-name{
    font-size: 1.9rem;
    font-weight: 550;
}
.macbok{
    background: linear-gradient(to top, white,rgb(189, 223, 233));}
    .product1 .preorder{
        background-color: #f5f5f7;
    }
/*  image slider */
 .slider img{
        height: 450px;
        width: 800px;
    }  
.slider{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 2rem;
    padding: 5%;
    overflow-x: auto;
}
.slider::-webkit-scrollbar {
  height: 6px;
}
.streamnow{
    padding: 0.5rem 2rem;
    color: white;
    background-color: black;
    border-radius: 1rem;
    font-size: 1rem;
    margin-left:  40%;
    margin-bottom: 2%;
    border: none;
}
/* footer */
.overall{
    height: 100%;
    background-color: #f5f5f7;
    padding: 1rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    color: #6e6e73;
    overflow: hidden;
} 
.container2 a{
    color: #424245;
}
.container2{
    width: 80%;
}
.basic-details p{
    padding:  0.5rem;
    line-height: 1.2rem;
}

.options{
    padding: 1rem;
   display: grid;
   grid-template-columns: repeat(5,1fr);
   gap: 2rem;
   background-color: #f5f5f7;
   line-height: 1.5rem;
}
.topic{
    color: rgb(22, 22, 22);
    font-weight: 500;
}
.options p a{
    color:#6e6e73;;
    text-decoration: none;
}
.shop{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.options p a:hover{
    text-decoration: underline;
    color: #424245;
}

  .endline{
    padding: 1rem;
  }
  .endline a{color: var(--button);}
  .foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
  }
  .foot a{
    color:#6e6e73;
    text-decoration: none;
    padding-right: 0.5rem;
}
  .foot a:hover{
    text-decoration: underline;
    color: #424245;
}
@media (max-width:768px) {
    .navbar{
        display: none;
    }
    .navbar2{
        display: flex;
        z-index: 1;
    }
    .container1{
        grid-template-columns: 1fr;
        /* overflow: hidden; */
    }
    .product1{
        overflow: hidden;
    }
    .foot{
       width: 100%; 
    }  
     .options{
        grid-template-columns: repeat(3,1fr);
    }
    .slider img{
        height: 300px;
        width: 400px;
    }  
}
@media (min-width:768px) and (max-width:992px){
      .slider img{
        height: 400px;
        width: 600px;
    } 
}
/* for navlinks */
