*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* overflow:scroll; */
}

:root{
    --text-color:#838382;
    --bg-color:#080808f3;
    --font-color:#ffffff;
    --button:#0071e3;
    --background:rgb(0,0,0);
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    padding: 0.5rem 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}
.navlinks{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2.5rem;
    font-size: 0.8em;
}
.nav-link{
    list-style: none;
}
.nav-link i{
    color: var(--text-color);
    font-size: 0.8rem;
}
.nav-link a{
    text-decoration: none;
    color: var(--text-color);
}
.nav-link a:hover{
     cursor: pointer;
    color: #dfdfd8;
    font-size: 0.9rem;
}
/* for responsive navbar */
  .navbar2{
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: var(--bg-color);
    padding: 0.5rem 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }
  .nav-links1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links1 li{
    list-style-type: none;
    color: var(--text-color);
    font-size: 1rem;
  }
  .links{
    display: flex;
    gap: 2.5rem;
  }
  .links li:hover{
    cursor: pointer;
    color: #dfdfd8;
  }
 .apple{
    height: 1.8rem;
    width: 1.8rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .apple li{
    list-style: none;
  }
  .logo i{
    color: black;
    font-size: 1rem;
  }
  @media screen and (max-width:600px) {
    .navbar{
        opacity: 0;
    }
    .navbar2{
      display: flex;
        opacity: 1;
        z-index: 1;
    }
   
}
/* main section for products */
.products{
     width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    /* gap: 2rem; */
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    text-align: center;
}
.heading{
font-size: 3.5rem;
background: linear-gradient(90deg, #e6ba75 0%, #f3b6a9 30%, #ff4c84 50%, #1e75d1 100%);
background-clip: text;
color: transparent;
animation: heading 5s ease;
}
.heading1{
   margin-top: 2.5rem;
   font-size: 3.5rem;
  color: #dfdfd8; 
}
@keyframes heading {
  0%{opacity: 0;}
  50%{opacity: 0.3;}
  100%{opacity: 1;}
}
.price{
  color: white;
  margin: 3%;
  margin-left: 10%;
}

.image{
    height: 24.5rem;
    width: 44rem;
    /* padding: 1rem; */
    overflow: hidden;
    perspective: 500px;
}
.image img{
    height: 100%;
    width: 100%;
    /* margin:5% 25%; */
    animation: ipadanimation 5s ease-in-out;
    perspective: 500px;
} 
 
@keyframes  ipadanimation {
     from{
      transform: rotatex(-60deg) scalex(1);
     }
     to{
      transform: rotatex(0deg) scalex(1);
     }
    }
.button{
  margin-left: 50%;
  width: 3.5rem;
  background-color: var(--button);
  padding: 0.5rem;
  border-radius: 1rem;
}
.button a{
  color: white;
  text-decoration: none;
}
.button:hover{
  background-color: #0a3c6e;
}
/* section2 */
.section2{
  padding: 8%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: var(--bg-color);
}
  .ipadimg{
  height: 85vh;
  width:98%;
  margin: auto;
  background: url(./pencil.jpg);
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.topic2{
  margin-left: 20%;
  width: 70%;
  font-size: 2rem;
  color: var(--font-color);
  font-weight: 550;
}
.topic1{font-size: 3.5rem; color: var(--text-color); font-weight: 550;}

/* section3 */
.section3{
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.closelook{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* align-items: center; */
  gap: 2rem;
  margin-top: 2rem;
}
.closelook img{
  height: 400px;
  width: 300px;
  border-radius: 2rem;
}
.look1{height: 100%;
  width: 100%;}
/* page3 */
.section4{
  background-color: var(--background);
  display: flex;
  justify-content: center;
}
.paragraphs{
  width: 75%;
  text-align: center;
  padding: 2rem;
  /* line-height: 1.5; */
  font-weight: 550;
}
.para1{
  font-size: 4.5rem;
  color: var(--font-color);
  font-weight: 550;
}
.para2{
  margin-top: 2%;
  font-size: 1.3rem;
  color: var(--text-color);
  line-height: 1.5;
}
/* paragraph2 */
.paragraph2{
  margin-top: 10%;
  display: flex;
  gap: 3.5rem;
  font-weight: 550;
}
.par1{
  margin-top: 5%;
  height: 80px;
  width: 90px;
  border: 4px solid white;
  border-radius: 1rem;
  font-size: 2rem;
  color: var(--font-color);
  padding-top: 0.7rem;
}
.par2{
  font-size: 1.3rem;
  color: var(--text-color);
  width: 35%;
  text-align: left;
}
.par2 span{
  display: block;
  color: var(--font-color);
  font-size: 3rem;
}

/* for button */
.sticky{
  margin-top: 2.5rem;
  padding: 1rem 0.7rem;
  font-size: 1.1rem;
  color: white;
  border-radius: 2rem;
  border: none;
  background-color: rgba(56, 55, 55, 0.76);
  position: sticky;
  bottom: 2rem;
}
.sticky span{
  background-color: #0071e3;
  padding: 0.5rem 0.8rem;
  border-radius: 50%;
  margin-left: 0.3rem;
}
.sticky:hover{
  cursor: pointer;
}
/* section5 */
.section5{
  background-color: var(--background);
  width: 100%;
  text-align: center;
  padding: 10%;
}
.title1{
  background: linear-gradient(90deg, #5b9eeb 0%, #6775f3 30%, #ff4cc3 50%, #d11e5a 100%);
background-clip: text;
color: transparent;
}
.img img{
  margin-top: 10%;
}
 /*/ footer */
.overall{
    height: 100%;
    background-color: var(--bg-color);
    padding: 1rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    overflow: hidden;
} 
.container2 a{
    color: var(--text-color);
}
.container2{
    width: 80%;
}
.basic-details p{
    padding:  0.5rem;
    line-height: 1.2rem;
}

.options{
    padding: 1rem;
   display: grid;
   grid-template-columns: repeat(5,1fr);
   gap: 2rem;
   /* background-color: var(--bg-color); */
   line-height: 1.5rem;
}
.topic{
    color: rgb(22, 22, 22);
    font-weight: 500;
}
.options p a{
    color:#6e6e73;;
    text-decoration: none;
}
.shop{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.options p a:hover{
    text-decoration: underline;
    color: #424245;
}
  .endline{
    padding: 1rem;
  }
  .endline a{color: var(--button);}
  .foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
  }
  .foot a{
    color:#6e6e73;
    text-decoration: none;
    padding-right: 0.5rem;
}
/* media query */
@media (max-width:992px) {
  
  .closelook{grid-template-columns: 3,1fr;}
}
@media (max-width:768px) {
    .foot{
       width: 100%; 
    }  
     .options{
        grid-template-columns: repeat(3,1fr);
    } 
    .topic2{
      font-size: 1rem;
    }
    .imges{
      height: 400px;
      /* width: 500px; */
      background-size: 100% 100%;
    }
    .closelook{
      grid-template-columns: 1fr;
    }
    .closelook img{
      height: 400px;
      width: 400px;
    }
    .para1{
      font-size: 3rem;
    }
    .para2{font-size: 1rem;}
    .paragraph2{
      flex-direction: column;
    }
    .par2{width: 100%;}
    .sticky{width:100%; display: flex;}
    .img img{height: 500px; width: 500px;}
    .ipadimg{height: 350px; width: 100%;}
    .section2{padding: 0; overflow: hidden;}
    .topic1{margin-top: 8%; font-size: 2.5rem;}
  }
  
  .foot a:hover{
    text-decoration: underline;
    color: #424245;
}
/* mediaquery */
@media screen and (max-width:576px) {
  .image{
    width: 30rem;
    height: 15rem;
  }
}
/* footer */
.versions{
  height: 100vh;
  width: 100%;
  padding: 10%;
    background-color: var(--bg-color);
    color: var(--text-color);
  /* margin-top: 5%; */
}
.lists{
  margin-top: 2%;
  display: flex;
  gap: 2rem;
}
.proname{
  font-size: 3.5rem;
  font-weight: 550;
  /* margin: 5% 0; */
}
.list1 li{
  list-style-type: none;
  line-height: 1.8;
  font-weight: 550;
  font-size: 1rem;
  color: #424245;
}
.li1 li{
  font-size: 2rem;
}
.list1 li:first-child{
  color: var(--text-color);
  font-weight: 400;
  font-size: 1rem;
}
.li1 li:last-child{
  font-weight: 400;
  margin-top: 2%;
  font-size: 1rem;
}

